<!DOCTYPE html>
<html lang="en">
  <%- include("includes/head") %>
  <body>
    <%- include("includes/hamburger") %> 
    <%- include("includes/aside") %>
    <div id="hero">
      <div class="" id="modal"></div>
      <header>
        <div class="pro-img">
          <img src="/profile-img/profile.jpg" alt="pro-img" />
        </div>
        <div class="description">
          <h4>Hello, <span style="color: #159df8">I am</span></h4>
          <h1><span style="color: #159df8">Meet</span> Kumar Vishwakarma</h1>
          <p>
            A
            <span style="color: #159df8">Full Stack Web Developer</span>
            passionate about creating interactive applications and experiences
            on the web.
          </p>
          <div id="social">
            <button id="rsm-btn" class="hover-icons">Resume</button>
            <ul class="social-items">
              <li>
                <a
                  href="https://in.linkedin.com/in/meet-kumar-vishwakarma-164858184?trk=people_directory"
                  class="icon hover-icons" target="_blank"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="https://github.com/kumarmeet" class="icon hover-icons" target="_blank"
                  ><i class="fab fa-github-square"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://twitter.com/kumarMeet_" target="_blank"
                  class="icon hover-icons"
                  ><i class="fab fa-twitter-square"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main>
        <!-- about section start -->
        <section id="about">
          <div class="section-head">
            <span>SOME INFO</span>
            <h2>ABOUT ME</h2>
          </div>
          <article class="about-container card">
            <p>
              I'm a full-stack web developer with a background in data
              structures and algorithms. My 1+ year of hands on experience in
              web development has given me a strong foundation for web
              development and building complex solutions. I done my post
              graduate in Master in Computer Science from the
              <span style="color: #159df8"
                >Makhanlal Chaturvedi National University of Journalism and
                Communication</span
              >. I am passionate about coding and solving problems through code,
              and I am excited to work alongside other amazing programmers and
              learn so much more!
            </p>
          </article>
        </section>

        <!-- skills section start -->
        <section id="skills">
          <div class="section-skills section-head">
            <span>CHECK OUT MY</span>
            <h2>SKILLS</h2>
          </div>
          <div class="skills-container card">
            <ul class="skills-grid">
              <li class="hover-icons"><i class="devicon-c-plain"></i></li>
              <li class="hover-icons">
                <i class="devicon-cplusplus-line"></i>
              </li>
              <li class="hover-icons">
                <i class="devicon-javascript-plain colored"></i>
              </li>
              <!-- <li class="hover-icons">
                <i class="devicon-java-plain colored"></i>
              </li> -->
              <!-- <li class="hover-icons">
                <i class="devicon-python-plain colored"></i>
              </li> -->
              <li class="hover-icons">
                <i class="devicon-html5-plain-wordmark colored"></i>
              </li>
              <li class="hover-icons">
                <i class="devicon-css3-plain-wordmark colored"></i>
              </li>
              <li class="hover-icons">
                <i class="devicon-sass-plain colored"></i>
              </li>
              <li class="hover-icons">
                <i class="devicon-nodejs-plain colored"></i>
              </li>
              <li class="hover-icons">
                <i class="devicon-express-original colored"></i>
              </li>
              <!-- <li class="hover-icons">
                <i class="devicon-react-original colored"></i>
              </li> -->
              <!-- <li class="hover-icons">
                <i class="devicon-mongodb-plain-wordmark colored"></i>
              </li> -->
              <li class="hover-icons">
                <i class="devicon-vscode-plain colored"></i>
              </li>
              <!-- <li class="hover-icons">
                <i class="devicon-mysql-plain-wordmark colored"></i>
              </li> -->
              <li class="hover-icons">
                <i class="devicon-github-original-wordmark colored"></i> 
              </li>
            </ul>
          </div>
        </section>

        <!-- project section start -->
        <section id="projects">
          <div class="section-skills section-head">
            <span>TAKE A LOOK AT MY</span>
            <h2>PROJECTS & GITHUB REPOS</h2>
          </div>
          <div id="pro-container" class="card">
            <%- include("includes/projects/c-project", {pics: pics})%> 
            <%- include("includes/projects/dsa-project", {pics: pics})%> 
            <%- include("includes/projects/cpp-project", {pics: pics})%> 
            <%- include("includes/projects/tic-tac-toe", {pics: pics})%>
            <%- include("includes/projects/color-project", {pics: pics})%>
            <%- include("includes/projects/tindo-project", {pics: pics})%> 
          </div>
        </section>

        <!-- contact section -->
        <section id="contact">
          <div class="section-head">
            <span>SAY HELLO</span>
            <h2>CONTACT</h2>
          </div>
          <article class="card">
            <h3 >Get in Touch</h3>
            <div class="contact-form">
              <!-- form -->
              <form id="form" action="/" method="POST">
                <input
                  type="text"
                  id="nameInput"
                  name="nameInput"
                  class="nameInput input"
                  required=""
                  placeholder="Your Name*"
                />
                <input
                  type="email"
                  id="emailInput"
                  name="emailInput"
                  class="emailInput input"
                  required=""
                  placeholder="Your Email*"
                />
                <input
                  type="text"
                  id="subjectInput"
                  name="subjectInput"
                  class="subjectInput input"
                  required=""
                  placeholder="Your Subject*"
                />
                <textarea
                  class="messageInput input"
                  name="messageInput"
                  id="messageInput"
                  required=""
                  placeholder="Your Message*"
                ></textarea>
                <button
                  type="submit"
                  id="rsm-btn"
                  class="submit-btn hover-icons"
                >
                  Submit
                </button>
              </form>
            </div>
          </article>
        </section>
        <!-- contact section end-->
      </main>
    </div>
  </body>
</html>
